<footer class="site-footer" id="contact">
  <div class="container footer-top">
    <div class="footer-cta">
      <h2>GET IN TOUCH</h2>
    </div>

    <div class="footer-image-wrap">
      <img src="{{ '/assets/img/portrait2.png' | relative_url }}" alt="Speaker image of Michael Berthold">
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container footer-bottom-grid">
      <div class="footer-name">
        MICHAEL R.<br>BERTHOLD
      </div>

      <address class="footer-contact">
        <p>123 Anywhere St., Any City, ST 12345</p>
        <p>Tel: 123-456-789</p>
        <p>Email: hello@reallygreatsite.com</p>
        <p>Social: @reallygreatsite</p>
      </address>
    </div>
  </div>
</footer>
